{% block index_docstring %}
    {% comment %}
    Index Page:
    ------------
    The index page is the landing page for the application. It welcomes users
     to the site and provides a brief overview of the application's features.
      It also includes links to the login page and any other relevant pages.
    {% endcomment %}
{% endblock %}

